#common-board {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

#common-board td, #common-board th{
    border: 1px solid black;
}

#board-hader {
    text-align: right;
    margin-bottom: 10px;
    
}

#board-view, #board-edit {
  margin: 20px;
}

.item-row {
  margin-bottom: 10px;
}

.item-row .field {
    width: 100px;
}

.item-row .value {
    padding-left: 20px;
    width: 100%;
}

.item-row .value input {
    width: 100%;
}