<!DOCTYPE html>
<html>
    <head>                             
        <!-- Vendor -->
        <!-- <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="node_modules/angular-messages/angular-messages.min.js"></script>                        
        <script src="node_modules/angular-material/angular-material.min.js"></script>      
        <script src="node_modules/angular-route/angular-route.js"></script> -->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/underscore/underscore-min.js"></script>
        <script src="node_modules/backbone/backbone-min.js"></script>
        
                
        <!-- App -->
        <!-- <script src="app/app.js"></script>
        <script src="app/app.route.js"></script>
        <script src="app/directives/common.directive.js"></script> -->

        <!-- Style -->
        <link rel="stylesheet" href="node_modules/reset.css/reset.css">                                 

    </head>
<body>    

    <div id="container"></div>
    <a href="#index">라우팅!</a>
        
    <script id="rideTemplate" type="text/template">
        <img src="<%= coverImage %>" />
        <ul>
            <li><%= object_or_array %></li>
            <li><%= empty %></li>
            <li><%= parse_time_nanoseconds %></li>
            <li><%= validate %></li>
            <li><%= size %></li>
        </ul>        
    </script>

    <script type="text/javascript">

        var AppRouter = Backbone.Router.extend({
            routes: {
                "index": "index",
                index: function(){
                    var _model = new Model();
                    _model.fetch({
                        success: function (data) {
                            var view = new AppView({
                                model : _model
                            });
                        }
                    });
                }

            }
        });

        var Model = Backbone.Model.extend({
            urlRoot : "http://validate.jsontest.com/?json=%5BJSON-code-to-validate%5D",
            defaults:{
                coverImage:"http://img2.sbs.co.kr/img/sbs_cms/CH/2017/04/14/CH14380055_w666_h968.PNG",
            }
        });

        var AppView = Backbone.View.extend({
          el: '#container', 
          initialize: function(){
            this.render();
          },
          template:$("#rideTemplate").html(),
          render: function(){
            var tmpl = _.template(this.template); 
            this.$el.html(tmpl(this.model.toJSON()));         
          },
          events: {
            'click li' : 'showAlert'

          },
          showAlert: function(){
		    alert("You clicked me");
    	  }
        });


        // Instantiate the router

        var app_router = new AppRouter;
        Backbone.history.start();
    


    </script>

    

</body> 
</html>