<div id="board-edit" layout="column">
   <div class="item-row" layout="row">
       <div class="field">제목</div>
       <div class="value">
           <input type="text" id="name" name="name"/>    
       </div>
   </div>   
   <div class="item-row" layout="row">
        <div class="field">내용</div>
        <div class="value">
            <textarea name="content" id="content" rows="10" style="width:100%"></textarea>    
        </div>                
   </div>
   <div class="item-row" layout="row"  layout-align="center center">      
        <input type="button" value="등록" ng-click="createPost()"/>
        <input type="button" value="뒤로가기" ng-click="moveListPost()"/>
   </div>   
</div>

